.score-board {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__Ximage {
        height: calc(100% / 4);
    }

    &__turn {
        height: calc(100% / 4);

        &__image {
            height: 100%;
        }
    }

    &__Oimage {
        height: calc(100% / 4);
    }
}